.h100 {
  height: 100% !important;
}

form .has-error {
  color: var(--ion-color-danger) !important;
}

.d-flex {
  display: flex !important;
}

.d-block {
  display: block;
}

.p-centered {
  margin: auto;
}

.border-circle {
  border-radius: 50%;
}

.section-title {
  margin-bottom: 0;
}

.page-tabs .page-tab-bar ion-tab-button {
  --color-selected: var(--ion-color-secondary);
  --ripple-color: var(--ion-color-secondary);
}

.network-detector-status {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: var(--ion-color-danger-tint);
  color: var(--ion-color-danger-contrast);
  padding: 0.15em;
}

.rating-container {
  color: var(--ion-color-warning-shade);
}
